* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* nav styles */
.header-title {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  margin-top: 68;
}
.header-text-color {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  /* margin-left: 226px;
  margin-top: 51px; */
  margin-right: 10px;
  padding: 50px 0 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-name {
  list-style: none;
  margin-top: 68;
  margin-left: 50px;
  margin-right: 50px;
}
.button {
  list-style: none;
  background-color: #fd6e0a;
  /* margin-left: 50px; */
  border-radius: 5px;
  height: 64px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
}
/* banner styles */
.banner {
  display: flex;
  align-items: center;
  margin: 0 0 0 150px;
}
.banner-text{
    margin-left: 30px;
    margin-right: 297px;
}
.author-talk {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 20px;
}
.author-name {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 9px;
}
.describe {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.author-pic {
  /* width: 584px;
  height: 676px; */

  margin-top: 120px;
}
.contct {
  margin-left: 30px;
  width: 160px;
  height: 64px;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  padding: 10px 23px;
  font-weight: 113px;
  font-size: larger;
}
.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
